@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  margin: 0;
}
.ubuntu{
  font-family:
    'Ubuntu'
}
input[type='radio'] {
  display: none;
}
.form-check-input:checked + label{
background-color: yellowgreen;
color: fuchsia;
}
.active{
  border-bottom:2px solid fuchsia !important ;
  color:fuchsia !important
}
.row{
  border: 1px solid black;
}
div{
  border: 1px solid red;
}

